[Unit]
Description=Gunicorn instance to serve honey_pot
After=network.target

[Service]
User=ubuntu
EnvironmentFile=/home/ubuntu/www/env
WorkingDirectory=/home/ubuntu/www
ExecStart=gunicorn --bind unix:honey_pot.sock -m 007 --env DATA_INGEST_ENDPOINT=$(echo $DATA_INGEST_ENDPOINT) wsgi:application

[Install]
WantedBy=multi-user.target
